In [1]:
print("Hello world")

Hello world

In [2]:
"""
Purpose: print() function syntax and usage
"""

'\nPurpose: print() function syntax and usage\n'

In [3]:
name = "Almighty"  # str

In [4]:
name

'Almighty'

In [5]:
print(name)

Almighty

In [6]:
print("name", name)
print("name:", name)
print("name=", name)

name Almighty
name: Almighty
name= Almighty

In [7]:
print("Name of student is name")
print("Name of student is ", name)

Name of student is name
Name of student is  Almighty

In [8]:
print("Name of student is", name)
print("Name of student is", name, sep=" ")
print("Name of student is", name, sep="-")
print("Name of student is", name, sep="")

Name of student is Almighty
Name of student is Almighty
Name of student is-Almighty
Name of student isAlmighty

In [9]:
print(1, 2, 3, 4, 5, 6, sep="~")
print(1, 2, 3, 4, 5, 6, sep="_")
print(1, 2, 3, 4, 5, 6, sep=":")

1~2~3~4~5~6
1_2_3_4_5_6
1:2:3:4:5:6

In [10]:
# NOTE: Python is a strictly typed language
print("1 + 2        =", 1 + 2)      # addition
print("'1' + '2'    =", "1" + "2")  # string concatenation

1 + 2        = 3
'1' + '2'    = 12

In [11]:
# 1 + '2' # TypeError: unsupported operand type(s) for +: 'int' and 'str'
# type converters - str(), int(), float()
print("1 + int('2') =", 1 + int("2"))
print("str(1) + '2' =", str(1) + "2")

1 + int('2') = 3
str(1) + '2' = 12

In [12]:
print("Name of Student is" + str(name))
print("Name of Student is" + " " + str(name))

Name of Student isAlmighty
Name of Student is Almighty

In [13]:
print("int('234')   =", int("234"))

int('234')   = 234

In [14]:
print("int('23.4')  =", int('23.4'))

ValueError: invalid literal for int() with base 10: '23.4'

In [15]:
# print("int('23.4')  =", int('23.4')) # ValueError: invalid literal for int() with base 10: '23.4'
# print("int('two')  =", int('two')) # ValueError: invalid literal for int() with base 10: 'two'

In [16]:
print("Name of Student is" + str(name))
print("Name of Student is" + " " + str(name))

Name of Student isAlmighty
Name of Student is Almighty

In [17]:
# NOTE: Python is dynamic typed language
name = 1232
print("Name of Student is", name)

Name of Student is 1232

In [18]:
print("Name of Student is" + str(name))
print("Name of Student is" + " " + str(name))

Name of Student is1232
Name of Student is 1232

In [19]:
# \b - overwrites previous character
print("Hei")
print("He\bi")
print("He\b")

Hei
Hi
H

In [20]:
# \r - overwrites complete existing line
print("He\ri")
print("12\r34")
print("first\rsecond")
print("abcdef\r1234")
print("1234567\rDOG")

ie
34
second
1234ef
DOG4567

In [21]:
# Unicode characters \uXXX - unicode character
print("\u20B9")  # ₹
print("\u018e")  # Ǝ

print("\046")  # &

₹
Ǝ
&